{% load static %}
    <!-- <h3>Log In <small class="text-muted">to create your own wiki pages!</small></h3> -->
    <head>
        <title>Recipe Journal</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/skel-panels.min.js"></script>
        <script src="js/init.js"></script>
          <link rel="stylesheet" href="{% static 'css/skel-noscript.css' %}" />
          <link rel="stylesheet" href="{% static 'css/style.css' %}" />
          <link rel="stylesheet" href="{% static 'css/style-desktop.css' %}" />
      </head>
      <div id="nav-wrapper">
        <nav id="nav">
          <ul>
            <li class="active"><a href="{% url 'landing' %}">Home</a></li>
            <li><a href="#">About us</a></li>
            <!-- <li><a href="added_recipes.html">Your recipes</a></li> -->
            {% if user.is_authenticated %}
            <li><a href="{% url 'new_recipe' %}">Add recipe</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}
          </ul>
        </nav>
        </div>
        <main role="main" class="r" style="margin-top: 4vh;">
    <hr>
    <div class="row">
        <div class="col">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}" class="mx-auto">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-8">
                        <label for="id_username">Username</label>
                        <input class="form-control" type="text" name="username" id="id_username" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <label for="id_password">Password</label>
                        <input class="form-control" type="password" name="password" id="id_password" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <input type="submit" value="login" class="btn btn-success">
                        <input type="hidden" name="next" value="{{ next }}">
                    </div>
                </div>
            </form>
        </div>
    </div>

