{% load static %}

<head>
  <title>Recipe Journal</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="js/skel.min.js"></script>
  <script src="js/skel-panels.min.js"></script>
  <script src="js/init.js"></script>
    <link rel="stylesheet" href="{% static 'css/skel-noscript.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-desktop.css' %}" />
</head>

<div id="nav-wrapper">
  <nav id="nav">
    <ul>
      <li class="active"><a href="{% url 'landing' %}">Home</a></li>
      <li><a href="about.html">About us</a></li>
      <!-- <li><a href="added_recipes.html">Your recipes</a></li> -->
      {% if user.is_authenticated %}
        <li><a href="#">Add recipe</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'signup' %}">Signup</a></li>
      {% endif %}
    </ul>
  </nav>
  </div>
  <main role="main" class="r" style="margin-top: 4vh;">

<div class='container'>
  <hr>
      <div class="row">
        <div class="col">
          <form method="post" class="mx-auto" style="text-align: center;">
            {% csrf_token %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                <div class="form-group row">
                    <div class="col-8">
                      <label for="id_{{ field.name }}">{{ field.label|title }}:</label>
                      <br>
                      <input class="form-control" type="{% if "password" in field.name %}password{% else %}text{% endif %}" name="{{ field.name }}" id="id_{{ field.name }}" required>
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Sign up</button>
          </form>
        </div>
      </div>
  </div>

