{% load static %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>

    <head>
      <title>Recipe Journal</title>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="js/skel.min.js"></script>
      <script src="js/skel-panels.min.js"></script>
      <script src="js/init.js"></script>
        <link rel="stylesheet" href="{% static 'css/skel-noscript.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style-desktop.css' %}" />
    </head>
  </head>
  <body>
    
        <div class="row">
          <div class="col m-4">
            <div class="alert alert-warning" role="alert">
              If you see this, you forgot <code>{% verbatim %}{% block content %}{% endblock %}{% endverbatim %}</code> in your child template.
            </div>
          </div>
        </div>
      </main>
{% endblock %}      
  </body>
